{% extends 'base.html.twig' %}

{% block title %}
	User Profile
{% endblock %}

{% block bread %}
	→ User Profile
{% endblock %}

{% block body %}
	{{ include('profile/_profile_header.html.twig') }}
	{{ include('profile/_profile_tabs.html.twig') }}

	<div class="mb-8"></div>

	{{ include('post/_post_image_list.html.twig', { posts: posts }) }}
{% endblock %}
