{% extends 'base.html.twig' %}

{% block title %}
	Photogram - Verification
{% endblock %}

{% block bread %}
	→ Verification
{% endblock %}

{% block body %}
	<div class="text-center mt-20 rounded-md p-10 border border-gray-300">
		<h1 class="text-3xl font-medium pb-5">Verify Your Email Address</h1>
		<p>Before procceding, please check your email for a verification link.</p>
	</div>
{% endblock %}
