{% extends 'base.html.twig' %}

{% block title %}
	Photogram - Profile Settings
{% endblock %}

{% block bread %}
	→ Profile Settings
{% endblock %}

{% block body %}
	{{ form_start(form) }}

	{{ include ('settings_profile/_profile_form.html.twig') }}

	<div>
		<button type="submit" class="block w-full shadow-sm border-transparent font-medium text-black bg-yellow-400 hover:bg-violet-600 hover:text-white active:bg-violet-800 rounded-md border p-2 mt-4 mb-2">Save Settings</button>
	</div>
	{{ form_end(form) }}
{% endblock %}
