{% if posts|length > 0 %}
	<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
		{% for post in posts %}
			{{ include('post/_post_image.html.twig', {post: post}) }}
		{% endfor %}
	</div>
{% else %}
	<div class="w-full text-center">
		<div class="font-bold text-gray-600 dark:text-gray-400">
			Nothing to show
		</div>
		<div class="text-gray-400 dark:text-gray-500">
			The list is currently empty
		</div>
	</div>
{% endif %}
