<div class="w-full max-w-xl mx-auto">
	{% if posts|length > 0 %}
		{% for post in posts %}
			{{ include('post/_post.html.twig', {post: post}) }}
			<div class="border-b border-gray-300 my-6"></div>
		{% endfor %}
	{% else %}
		<div class="text-center">
			<div class="font-bold text-gray-600 dark:text-gray-400">
				Nothing to show
			</div>
			<div class="text-gray-400 dark:text-gray-500">
				The list is currently empty
			</div>
		</div>
	{% endif %}
</div>
