{% extends 'base.html.twig' %}

{% block title %}
	Photogram - New Post
{% endblock %}

{% block bread %}
	→ Add Post
{% endblock %}

{% block body %}
	<div class="w-full md:w-2/5 mt-5 md:mt-10 mx-auto">
		{{ include('post/_post_form.html.twig') }}
	</div>
{% endblock %}
