{% extends 'base.html.twig' %}

{% block title %}Photogram - Main
{% endblock %}

{% block body %}
	{{ include('post/_main_header.html.twig') }}

	<div class="w-full max-w-xl mx-auto">
		{% if posts|length > 0 %}
			{% for post in posts %}
				{{ include('post/_post.html.twig', {post: post}) }}
				<div class="border-b border-gray-300 my-6"></div>
			{% endfor %}
		{% else %}
			There's nothing here yet!
		{% endif %}
	</div>
{% endblock %}
