{% if image %}
	<div class="w-full aspect-square bg-gray-200 dark:bg-gray-700 flex items-center justify-center overflow-hidden">
		<img src="{{ posts_images ~ image }}" class="max-h-full max-w-full"/>
	</div>
{% else %}
	<div class="w-full aspect-square bg-gray-200 dark:bg-gray-700 text-3xl flex items-center justify-center">
		No picture
	</div>
{% endif %}
