<div class="w-full aspect-square bg-gray-200 dark:bg-gray-700 flex items-center justify-center overflow-hidden">
	<img src="{{ image ? posts_images ~ image : '' }}" class="max-h-full max-w-full {{ image ? '' : 'hidden' }}" data-upload-image-target="preview"/>
</div>
